.nav-icon {
  width: clamp(80px, 5vw, 120px);
  height: clamp(80px, 5vw, 120px);
  max-width: 100%;
  max-height: 100%;
  border-radius: 22%;
  margin-bottom: 5px;
  /* for div */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* for img */
  display: block;
  object-fit: contain;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-icon {
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);
  }
}

/*
.icon-apple {
  background-image: url("data:image/svg+xml;base64,");
}
*/

/*
.icon-bilibili {
  background-image: url("data:image/webp;base64,");
}
*/

.icon-apple {
  background-image: url("/assets/icons/Apple.svg");
}

.icon-bilibili {
  background-image: url("/assets/icons/Bilibili.webp");
}

.icon-chatgpt {
  background-image: url("/assets/icons/ChatGPT.webp");
}

.icon-cloudflare {
  background-image: url("/assets/icons/Cloudflare.svg");
}

.icon-doubao {
  background-image: url("/assets/icons/Doubao.webp");
}

.icon-github {
  background-image: url("/assets/icons/GitHub.webp");
}

.icon-gmail {
  background-image: url("/assets/icons/Gmail.webp");
}

.icon-googletranslate {
  background-image: url("/assets/icons/GoogleTranslate.webp");
}

.icon-jin10 {
  background-image: url("/assets/icons/Jin10.webp");
}

.icon-neteasemail {
  background-image: url("");
}

.icon-protonmail {
  background-image: url("/assets/icons/ProtonMail.webp");
}

.icon-qqmail {
  background-image: url("/assets/icons/QQMail.webp");
}

.icon-unsplash {
  background-image: url("/assets/icons/Unsplash.webp");
}

.icon-virustotal {
  background-image: url("/assets/icons/VirusTotal.svg");
}

.icon-youtube {
  background-image: url("/assets/icons/YouTube.webp");
}

.icon-icloud {
  background-image: url("/assets/icons/iCloud.webp");
}
