.nav-icon {
  width: clamp(80px, 5vw, 120px);
  height: clamp(80px, 5vw, 120px);
  max-width: 100%;
  max-height: 100%;
  border-radius: 22%;
  margin-bottom: 5px;
  /* for div */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* for img */
  display: block;
  object-fit: contain;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-icon {
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);
  }
}

/* SVG: replace('"', '\''), replace('#', '%23') */
/*
.icon-svg {
  background-image: url("data:image/svg+xml;utf8,");
}
*/

/*
.icon-webp {
  background-image: url("data:image/webp;base64,");
}
*/

.icon-apple {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='Apple' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path d='m406 335s-9 30-26 54-31 47-60 47c-23 0-35-15-61-15s-42 15-64 15-33-15-50-35c-44-55-62-146-38-194s59-58 84-58 48 16 63 16 38-17 68-17 59 13 74 38c-49 27-64 115 10 149M327 56c5 36-27 89-76 88-5-42 32-85 76-88'/></svg>");
}

.icon-bilibili {
  background-image: url("/assets/icons/Bilibili.webp");
}

.icon-chatgpt {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='ChatGPT' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path d='M287.9371 467.1915C273.8191 467.1915 260.4803 464.5177 247.8083 459.2782C235.1362 454.0387 223.8723 446.3531 214.0163 436.9511C203.3991 440.6021 192.1923 442.2713 180.6467 442.2713C161.8811 442.2713 144.3203 437.6235 128.2691 428.3289C112.2179 419.0343 99.2643 406.3659 89.4083 390.3227C79.9523 374.2635 75.0467 356.3833 75.0467 336.9915C75.0467 328.5049 76.1731 319.6331 78.4259 309.8807C67.2991 299.6395 58.4323 287.6729 52.2371 274.2229C46.0419 260.3571 42.9443 245.9955 42.9443 230.7415C42.9443 215.8643 46.1827 201.2211 52.6595 187.0191C59.1362 173.0611 68.1475 160.9523 79.6931 150.7111C91.2387 140.3955 105.1779 133.2147 120.6659 129.2327C123.7635 113.2211 130.2403 98.8595 140.0963 86.2939C149.9523 73.2339 162.6243 63.0963 177.2675 55.7011C191.9115 48.4531 207.5395 44.7923 224.1539 44.7923C237.9291 44.7923 251.6099 47.4675 264.2819 52.7071C276.954 57.9467 288.219 65.6307 298.075 75.0327C308.6915 71.5443 319.8976 69.7139 331.4432 69.7139C349.774 69.7139 367.7696 74.3603 383.8208 83.6549C399.872 92.9459 412.6862 105.6179 422.2606 121.6611C431.835 137.7203 437.0432 155.6019 437.0432 175.0039C437.0432 183.4803 435.9168 192.3507 433.664 201.7527C444.7908 212.3443 453.6576 224.4531 459.8528 238.3031C466.048 251.7683 469.1456 265.9891 469.1456 281.2431C469.1456 296.1209 465.9086 310.7641 459.4318 325.4073C452.955 340.0505 443.8016 351.1723 431.9744 361.4135C420.5456 371.7291 406.912 378.7691 391.424 382.7511C388.3264 398.7627 381.7102 413.1243 371.5726 425.6899C361.435 438.7499 349.4656 448.8875 334.8224 456.2827C320.1792 463.5307 304.5518 467.1915 287.9371 467.1915ZM183.1811 414.3929C197.2123 414.3929 209.9331 411.4347 220.3523 405.5827L299.9949 359.8749C302.8102 357.9307 303.9886 355.2569 303.9886 351.8777V315.3659L201.424 374.2635C195.2288 377.9243 189.3763 377.9243 183.1811 374.2635L103.5387 326.3627C103.5387 329.0681 103.2067 330.0523 102.9251 331.1659C102.9251 332.3051 102.9251 333.9947 102.9251 336.2475C102.9251 350.6091 106.3043 363.8443 113.0627 375.8107C119.9387 387.7803 129.8179 397.0731 142.2083 403.7339C154.5987 410.3947 168.2795 414.3929 183.1811 414.3929ZM187.2963 345.2779C188.9745 346.1255 190.5099 346.5493 191.8923 346.5493C193.2747 346.5493 194.6571 346.1255 196.0395 345.2779L227.1971 327.0611L126.2229 267.4891C120.0277 263.8283 116.9301 258.3979 116.9301 251.0027V159.9979C103.2067 166.2931 92.1019 175.8675 83.7019 188.7019C75.3019 201.5363 71.1867 215.5675 71.1867 230.7415C71.1867 244.5655 74.6659 257.7007 81.6243 269.9499C88.5827 282.1991 97.694 291.7735 108.8208 298.2503L187.2963 345.2779ZM287.9371 439.8299C302.8387 439.8299 316.2475 436.4507 328.0747 429.6923C339.9019 422.9339 349.294 413.6411 356.2524 401.6747C363.2108 389.7083 366.69 376.4731 366.69 361.2991V267.4891C366.69 264.1099 365.2008 261.5359 362.2216 259.8577L331.4432 241.3579V361.7229C331.4432 369.1181 328.3456 374.5485 322.1504 378.2093L242.508 425.6899C256.1248 435.5459 271.0264 439.8299 287.9371 439.8299ZM303.9886 284.0583V227.1971L256.2524 200.4587L208.516 227.1971V284.0583L256.2524 310.7967L303.9886 284.0583ZM180.6467 149.5675C180.6467 142.1723 183.6259 136.7419 189.8211 133.0811L269.4635 86.2939C255.974 76.4379 240.9208 71.5443 224.1539 71.5443C209.2523 71.5443 195.7628 74.8907 183.1811 81.5515C170.5994 88.2123 161.1434 97.5051 154.185 109.4715C147.2266 121.4379 143.901 134.6731 143.901 149.5675V240.5975C143.901 243.9767 145.2834 246.6505 148.0987 248.6083L180.6467 267.0653V149.5675ZM395.2524 351.8777C409.2836 345.5825 420.3884 335.9081 428.5116 322.9403C436.6348 309.9725 440.8732 295.6109 440.8732 281.2431C440.8732 267.4191 437.394 254.1839 430.4356 240.5975C423.4772 227.0111 414.3659 217.4367 403.2611 210.9599L323.6187 164.1727C321.9405 163.0591 320.3069 162.6353 318.9245 162.9169C317.5421 162.9169 316.1597 163.3407 314.7773 164.1727L283.6197 181.8691L384.5939 241.3579C387.6915 243.0361 389.9443 245.2889 391.3267 248.0041C392.9051 250.5781 393.7003 253.6757 393.7003 257.3365V351.8777ZM308.5291 138.3149C314.7243 134.3329 320.9195 134.3329 327.1147 138.3149L406.7571 181.4453C406.7571 179.4875 406.7571 176.9135 406.7571 173.8159C406.7571 160.3263 403.4315 147.5151 396.7707 135.5487C390.1099 123.5823 380.7178 113.7263 368.7514 106.3311C356.785 98.9359 342.7538 95.2751 328.0747 95.2751C314.0435 95.2751 301.7228 98.2543 291.3036 104.1063L211.6612 149.8491C208.8459 151.8069 207.4635 154.4807 207.4635 159.9979V196.5097L308.5291 138.3149Z'/></svg>");
}

.icon-cloudflare {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='Cloudflare' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path fill='%23f38020' d='M331 326c0 2-2 3-3 3H54c-2 0-3-1-3-2-5-26 12-69 60-72-9-37 31-71 69-46a97 97 0 01187 11c1 3-9 24-9 24-6 18-26 32-43 33l-150 2c-5 1-5 7-1 7l148 2c15 0 30 12 19 38Z'/><path fill='%23faae40' d='M381 224a81 81 0 0178 103l-3 2H343c-2 0-2-1-2-3 0 0 10-35 46-39l33-1c5-1 5-7 1-7l-32-2c-17-1-25-15-20-31l5-21c1-2 3-1 7-1'/></svg>");
}

.icon-doubao {
  background-image: url("/assets/icons/Doubao.webp");
}

.icon-github {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='Github' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path transform='translate(51.2 51.2) scale(11.3778)' d='M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z'/></svg>");
}

.icon-gmail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='Gmail' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path fill='%234285f4' d='m76 190v171q0 30 30 30h52V190'/><path fill='%2334a853' d='m354 190v201h52q30 0 30-30V190'/><path fill='%23fbbc04' d='m350 255V149l28-21c24-18 58 2 58 30v32'/><path fill='%23ea4335' d='m154 249V143l102 77 98-74v106l-98 74'/><path fill='%23c5221f' d='m76 190v-32c0-29 34-48 58-30l24 18v106'/></svg>");
}

.icon-googletranslate {
  background-image: url("/assets/icons/GoogleTranslate.webp");
}

.icon-jin10 {
  background-image: url("/assets/icons/Jin10.webp");
}

.icon-neteasemail {
  background-image: url("");
}

.icon-protonmail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='Proton Mail' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><linearGradient id='a' x1='.8' y1='1'><stop offset='0' stop-color='%23d8cbff'/><stop offset='1' stop-color='%239d7aff'/></linearGradient><radialGradient id='b' cx='1.4' cy='0' r='1.6'><stop offset='.6' stop-color='%236d4aff'/><stop offset='1' stop-color='%23aa8eff'/></radialGradient><path fill='url(%23a)' d='M332 395h60a36 36 0 0036-36V124c0-8-8-10-12-7L279 232c-16 13-35 10-48-2L99 119c-7-7-15-2-15 5v60'/><path fill='url(%23b)' d='M84 183v176a36 36 0 0036 36h235V168l-50 42-74 66s-17 13-36 0'/></svg>");
}

.icon-qqmail {
  background-image: url("/assets/icons/QQMail.webp");
}

.icon-unsplash {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='Unsplash' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path d='M409.6 256v153.6H102.4V256h96v76.8h115.2V256h96zm-96-153.6H198.4v76.8h115.2V102.4z'/></svg>");
}

.icon-virustotal {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='VirusTotal' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path fill='%230b4dda' d='M239.127 256 76.8 415.488h358.4V96.512H76.8l162.327 159.488zM399.36 383.232H155.648l128.977-126.157L155.648 128.768h243.712v254.464z'/></svg>");
}

.icon-youtube {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-label='YouTube' role='img' viewBox='0 0 512 512'><path d='m0 0H512V512H0' fill='%23fff'/><path fill='%23ff0033' d='M313 256l-93-53V309Zm114-87c9 37 9 138 0 174-4 15-17 27-32 31-37 10-242 10-278 0-15-4-28-16-32-31-10-39-9-136 0-174 4-15 17-27 32-31 39-10 244-9 278 0 15 4 28 16 32 31Z'/></svg>");
}

.icon-icloud {
  background-image: url("/assets/icons/iCloud.webp");
}
