/* Clear button for search input */
.clear-button {
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/clear.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .clear-button {
    right: 7.5%;
    width: 16px;
    height: 16px;
  }
}
