/* SVG: replace('"', '\''), replace('#', '%23') */
.favicon-data {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%235F6368'><path d='M480-60.78q-87.52 0-163.91-32.96-76.38-32.96-132.88-89.47-56.51-56.5-89.47-132.88Q60.78-392.48 60.78-480t32.96-163.91q32.96-76.38 89.47-132.88 56.5-56.51 132.88-89.47 76.39-32.96 163.91-32.96t163.91 32.96q76.38 32.96 132.88 89.47 56.51 56.5 89.47 132.88 32.96 76.39 32.96 163.91t-32.96 163.91q-32.96 76.38-89.47 132.88-56.5 56.51-132.88 89.47Q567.52-60.78 480-60.78Zm0-106q121.56 0 208.63-78.31 87.06-78.3 100.07-194.78 0-3.04-.22-6.3t-.22-5.44q-8.96 19.39-27.56 31.33-18.61 11.93-42.4 11.93h-76.04q-35.8 0-61.29-25.49-25.49-25.49-25.49-61.29v-43.39H381.91v-82.26q0-36.03 25.49-61.69 25.5-25.66 61.3-25.66h43.39q0-26.59 13.91-46.81 13.91-20.23 34.17-27.84-19.44-4.75-39.37-7.59-19.93-2.85-40.8-2.85-131.74 0-222.48 90.74-90.74 90.74-90.74 222.48 0 2.83.29 5.65.28 2.83.28 5.65h165.52q72.22 0 122.89 50.68 50.67 50.67 50.67 122.66v43.62H376.26v66.48q24.52 8.96 50.27 13.72 25.74 4.76 53.47 4.76Z'/></svg>");
}

/* Clear button for search input */
.clear-button {
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%235F6368'><path d='M342.22-280 480-417.78 617.78-280 680-342.22 542.22-480 680-617.78 617.78-680 480-542.22 342.22-680 280-617.78 417.78-480 280-342.22 342.22-280ZM480-60.78q-87.52 0-163.91-32.96-76.38-32.96-132.88-89.47-56.51-56.5-89.47-132.88Q60.78-392.48 60.78-480t32.96-163.91q32.96-76.38 89.47-132.88 56.5-56.51 132.88-89.47 76.39-32.96 163.91-32.96t163.91 32.96q76.38 32.96 132.88 89.47 56.51 56.5 89.47 132.88 32.96 76.39 32.96 163.91t-32.96 163.91q-32.96 76.38-89.47 132.88-56.5 56.51-132.88 89.47Q567.52-60.78 480-60.78Z'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .clear-button {
    right: 7.5%;
  }
}
