body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9; /* Background color */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px 0;
  flex-shrink: 0;
}

header h1 {
  margin: 0;
  font-size: 32px;
  color: #333;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Search bar */
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
}

#search-input {
  width: 85%;
  max-width: 1000px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.search-buttons button {
  width: 80px;
  padding: 6px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0e0e0; /* Button color */
  font-weight: bold;
  text-align: center;
}

/* Nav */
.nav-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Grid Layout */
.nav-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 units per row on PC devices */
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item img {
  border-radius: 10px;
  margin-bottom: 5px;
  width: clamp(40px, 6vw, 80px);
  height: clamp(40px, 6vw, 80px);
  object-fit: contain;
}

.nav-item span {
  font-size: clamp(12px, 1vw, 14px);
  word-break: break-word;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
  text-align: center;
  flex-shrink: 0;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
  header h1 {
    font-size: 24px;
  }

  main {
    justify-content: center;
  }

  #search-input {
    width: 80%;
    font-size: 14px;
    border-radius: 8px;
  }

  .search-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    gap: 4px;
  }

  .search-buttons button {
    flex: 1;
    margin: 0;
    font-size: 12px;
    width: auto;
  }

  .nav-container {
    grid-template-columns: repeat(4, 1fr); /* 4 units per row on mobile devices */
    gap: 15px;
    max-width: 100%;
  }

  .nav-item img {
    width: 40px !important; /* Standardize icon size on mobile devices */
    height: 40px !important;
  }

  .nav-item span {
    font-size: 12px;
  }

  footer {
    font-size: 10px;
  }
}
